<div class="container">
  <div class="row  bg-white shadow rounded m-5 py-5">
    <div class="col-md-5">
      <strong class="display-1 text-primary px-5">
        TRA</br>
        </strong>
      <strong class="display-1 text-primary px-5">
        RECO
      </strong>
    </div>
    <div class="col-md-7 py-5">
      <div class="row text-center mx-auto">
        <strong class="h5 font-weight-bold text-primary">
          思い出を共有できる！</br>
          もっと旅行を楽しめる旅のアルバムサイト
        </strong>
      </div>
      <div class="row mr-5 mt-3">
        <p class="h6 font-weight-bold text-dark">
          旅行に行きたいけどどこに行っていいか分からない。旅行プランの立て方がわからない。旅行のアルバムを作ったり、誰かと共有したい。そんなあなたの旅行ライフを豊かにしてくれるサイトです。
        </p>
      </div>
    </div>
  </div>
</div>
